<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='script.js') }}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Krona+One&display=swap" rel="stylesheet">

    <title>The Steam Game Tracker and Social Hub</title>
</head>

<body>

<div id="mySidebar" class="sidebar navibar-element">
    <br><br>
    <a href="javascript:void(0)" class="closebtn navibar-element" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/games">Games</a>
    <a href="/friends">Friends</a>
    <a href="/community">Community</a>
    <a href="/profile">Profile</a>
</div>

<button class="openbtn" onclick="openNav()">
    <div></div>
    <div></div>
    <div></div>
</button>

<header>
    <h1>The Steam Game Tracker and Social Hub</h1>
</header>

<h2 id="friendName"></h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="friendButton" id="friendInfo" type="button" onclick="showFriendInfo()">Friend Info</button>


<h2 id="gamesPlayed" style="display: none;">Games played: </h2>
<h2 id="totalPlaytime" style="display: none;">Total playtime: </h2>
<h2 id="currentlyPlaying" style="display: none;">Currently playing: </h2>

</body>

</html>
